@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --primary-color: #860592;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("images/space-bg.jpg");
  background-size: cover;
  background-position: center; */
  background-color: #282828;
  position: relative;
}

.main-menu {
  width: 7rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  lefT: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.35s;
}

.main-menu-top {
  background: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.main-menu-top span {
  color: white;
  font-size: .8rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.logo img {
  width: 100%;
}

.main-menu-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #282828;
}

.main-menu-nav a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.0rem;
  color: #909096;
  line-height: 3.5rem;
  border-bottom: 1px solid
}
.main-menu-nav a:hover {
  color: var(--primary-color);
}

.main-menu-social {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  height: 15rem;
}

.main-menu-social li a {
  padding: 2rem 7px;
  color:#909096;
}
.main-menu-social li {
  text-align: center;
}
.main-menu-social li a:hover {
  color: var(--primary-color);
}


